html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 0px; 
  height: 100%;
}

#index-search-box {
  margin: 1em;
  padding: 1em;
  height: 75px;
  font-size: 24px;
}

.book-list {
  list-style: none;
}

.book-list li {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #cccccc;
  margin-top: 10px;
  padding: 10px;
  font-size: 12px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: #333;
  color: #666;
  padding: 20px;
}

.book-heading {
  font-size: 16px;
  font-weight: 500;
}

.book-list-image {
  text-align: center
}

.book-list-info {
  vertical-align: center;
}

section {
  margin-bottom: 50px;
}

hr {
  padding-bottom: 10px;
  padding-top: 10px;
}

.sub-head {
  border-bottom: 2px solid #aaa;
}

.small-header {
  margin-bottom: 10px;
  font-size: 12px;
  color: #888;
}

.listed-book-heading {
  font-size: 1.7rem;
  line-height: 1.5;
}

.icon-edit-style {
  font-size: 30px;  
}

.text-right {
  text-align: right;
}

.add-r-pad {
  padding-right: 2em;
}

.add-l-pad {
  padding-left: 2em;
}

.add-t-pad {
  padding-top: 2em;
}

.add-ts-pad {
  padding-top: 1em;
}

.add-b-pad {
  padding-bottom: 2em;
}

.add-all-pad {
  padding: 2em;
}

.book-link {
    font-size: 20px;
}

.medium-label-text {
    font-size: 20px
}
