<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="../static/css/foundation.css">
  <link rel="stylesheet" href="../static/foundation-icons/foundation-icons.css">
  <link rel="stylesheet" href="../static/css/custom.css">
  <title>5C Book Finder</title>
</head>

<body>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">5C Book Finder</a>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        {% if session.user_hash %}
        <li>
          <a href="/user/{{ session.user_id }}" class="custom-link">
          {{ session.user_name }}
          </a>
        </li>
        <li>
          <a href="/logout" class="custom-link">(Sign Out)</a>
        </li>
        {% else %}
        <li>
          <a href="#" data-reveal-id="sign-in-modal">Sign In</a>
        </li>
        <li class="has-form">
          <a href="#" data-reveal-id="sign-up-modal" class="button">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </section>
  </nav>

  <div id="sign-in-modal" class="reveal-modal tiny" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <form id="sign-in-form" data-abide>
      <div class="email-field">
        <label>Email
          <input type="email" name="email" placeholder="Enter your email">
        </label>
        <small class="error">Email must be valid.</small>
      </div>
      <div class="password-field">
        <label>Password
          <input type="password" name="password" 
              placeholder="Please enter your password">
        </label>
      </div>
      <center>
        <input type="submit" class="button" value="Sign In">
      </center>
    </form>
  </div>
  <div id="sign-up-modal" class="reveal-modal tiny" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <form id="sign-up-form" data-abide>
    <div class="name-field">
      <label>Name
        <input type="text" required pattern="[a-zA-Z]+ [a-zA-Z]+"
            name="name" placeholder="Foo Bar">
      </label>
      <small class="error">Please just enter the first and last name.</small>
    </div>
    <div class="email-field">
      <label>Email
        <input type="email" required placeholder="example@hmc.edu"
            name="email">
      </label>
      <small class="error">Email must be valid.</small>
    </div>
    <div class="tel-field">
      <label>Phone Number
        <input type="tel" required pattern="\d{3}[\-]\d{3}[\-]\d{4}"
            name="phone_number" placeholder="123-456-7890">
      </label>
      <small class="error">Phone number format must be valid.</small>
    </div>
    <div class="password-field">
      <label>Password
        <input type="password" required pattern=".{8}.*"
            name="password" placeholder="Please enter your password">
      </label>
      <small class="error">Password must be at least 8 characters.</small>
    </div>
    <center>
      <input type="submit" class="button" value="Sign Up">
    </center>
  </form>
  </div>

  <section role="main" class="scroll-container main-body">
    {% block main_body %}
    {% endblock %}
  </section>

  <footer>
    <div class="row">
      <div class="medium-8 columns">
        Made with &hearts; by
        <a href="#">Jiexi Cao</a> and
        <a href="#">Maury Quijada</a>.
      </div>
      <div class="medium-4 columns">
        More Text
      </div>
    </div>
  </footer>
  <script src="../static/js/vendor/jquery.js"></script>
  <script src="../static/js/custom/main.js"></script>
  <script src="../static/js/foundation/foundation.js"></script>
  <script src="../static/js/foundation/foundation.reveal.js"></script>
  <script src="../static/js/foundation/foundation.tab.js"></script>
  <script src="../static/js/foundation/foundation.abide.js"></script>
  <!-- Other JS plugins can be included here -->
  {% block page_javascript %}
  {% endblock %}

  <script>
    $(document).foundation();
  </script>
</body>

</html>
