{% extends "base.html" %}
{% block main_body %}
<div class="row">
  <div class="medium-12 columns add-t-pad add-b-pad">
    <h2>{{course.course_number }}: {{ course.title }}</h2>
    <h4>Professor: {{ course.professor }}</h4>
    <h4>Offered: {{ course.semester_offered }}</h4>
  </div>
</div>
{% if books_required or books_recommended %} 
{% if books_required %}
<div class="row add-r-pad add-l-pad add-b-pad">
  <h3 class="sub-head">Books Required</h3>
  {% for book in books_required %}
  <div class="row add-r-pad add-l-pad">
    <div class="row">
      <div class="large-10 columns">
          <a href="/book/{{book.book_isbn}}" class="book-link">
        {% if book.edition != "N/A" %}
        {{book.title}} ({{book.edition}} Ed.) by {{book.author}}
        {% else %}
        {{book.title}} by {{book.author}}
        {% endif %}
    </a>
      </div>
      {% if logged_in %}
      <div class="large-2 columns text-right">
          {% if book.in_user_wishlist %}
      <a href="#" data-isbn="{{book.book_isbn}}" class="untrack-book">
          <span class="label success">In Wishlist</span>
        </a>
          {% else %}
      <a href="#" data-isbn="{{book.book_isbn}}" class="track-book">
          <span class="label">Add to Wish List</span>
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="row add-r-pad add-l-pad add-b-pad add-ts-pad">
      {% if book.number_selling %}
      <span data-tooltip class="has-tip" title="Click the link above to see them.">
      There are {{book.number_selling}} listing(s) for this book.
      </span>
      {% else %}
      No one is currently selling this book.
      {% endif %}
    </div>
  </div>
  {% endfor %} 
</div>
{% endif %}
{% if books_recommended %}
<div class="row add-t-pad add-r-pad add-l-pad add-b-pad">
  <h3 class="sub-head">Books Recommended</h3>
  {% for book in books_recommended %}
  <div class="row add-r-pad add-l-pad">
    <div class="row">
      <div class="large-10 columns">
          <a href="/book/{{book.book_isbn}}" class="book-link">
        {% if book.edition != "N/A" %}
        {{book.title}} ({{book.edition}} Ed.) by {{book.author}}
        {% else %}
        {{book.title}} by {{book.author}}
        {% endif %}
    </a>
      </div>
      {% if logged_in %}
      <div class="large-2 columns text-right">
          {% if book.in_user_wishlist %}
      <a href="#" data-isbn="{{book.book_isbn}}" class="untrack-book">
          <span class="label success">In Wishlist</span>
        </a>
          {% else %}
      <a href="#" data-isbn="{{book.book_isbn}}" class="track-book">
          <span class="label">Add to Wish List</span>
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="row add-r-pad add-l-pad add-b-pad add-ts-pad">
      {% if book.number_selling %}
      <span data-tooltip class="has-tip" title="Click the link above to see them.">
      There are {{book.number_selling}} listing(s) for this book.
      </span>
      {% else %}
      No one is currently selling this book.
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% else %}
<div class="row add-all-pad">
    This course does not need any books according to the information on Portal. 
    Please check with the instructor and/or syllabus.
</div>
{% endif %} {% endblock %}
