{% extends "base.html" %} {% block main_body %}
<div class="row">
  <div class="medium-8 columns add-padding">
    <div id="wishlist-div">
      <h3>Your Wishlist</h3>
      {% if wishlist_selling %}

      <ul class="book-list">
        {% for book in wishlist_selling %}
        <li>
          <div class="row">
            <div class="medium-3 columns book-list-image">
              <img src="{{ book.img_url }}" alt="{{ book.title }}">
            </div>
            <div class="medium-9 columns book-list-info">
              <div class="book-heading">
                {{ book.title }} ({{ book.edition }}) by {{ book.author }}
              </div>
              <div class="book-additional">
                ISBN: {{ book.isbn }}
                <br>Added: {{ book.date_added }}
                <br>Price: ${{ book.price }}
                <br>Condition: {{ book.condition }}
                <br>Sold By:
                <a href="/user/{{book.owner_id}}">{{ book.owner }}</a>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>
        {% if wishlist %} Nothing on your wishlist is currently being sold. {% else %} Your wishlist is currently empty. {% endif %}
      </p>
      {% endif %}
    </div>
    <hr>
    <div id="recentlist-div">
      <h3>Recently Listed Books</h3>
      <ul class="book-list">
        {% for book in recently_listed %}
        <li>
          <div class="row">
            <div class="medium-3 columns book-list-image">
              <img src="{{ book.img_url }}" alt="{{ book.title }}">
            </div>
            <div class="medium-9 columns book-list-info">
              <div class="book-heading">
                {{ book.title }} ({{ book.edition }}) by {{ book.author }}
              </div>
              <div class="book-additional">
                ISBN: {{ book.isbn }}
                <br>Added: {{ book.date_added }}
                <br>Price: ${{ book.price }}
                <br>Condition: {{ book.condition }}
                <br>Sold By:
                <a href="/user/{{book.owner_id}}">{{ book.owner }}</a>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="medium-4 columns add-padding">
    <div class="row listed-book-heading">
      <div class="medium-10 columns">Your Listed Books</div>
      <div class="medium-2 columns">
        <a href="#" data-reveal-id="add-book">
          <i class="fi-plus"></i>
        </a>
      </div>
      <div class="reveal-modal medium" id="add-book" data-reveal>
        <a class="close-reveal-modal">&#215;</a>
        <dl class="tabs" data-tab>
          <dd class="active">
            <a href="#add-book-tab-1">Add Book</a>
          </dd>
          <dd class="active">
            <a href="#add-book-tab-2">Book Not Found?</a>
          </dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="add-book-tab-1">
            <p class="small-header">
              Enter in the following information to add a book:
            </p>
            <form>

              <div class="row">
                <div class="large-12 columns">
                  <label>Course
                    <input type="text" placeholder="Enter the course this book is used in">
                  </label>
                  <label>ISBN
                    <input type="text" placeholder="Enter the ISBN of the book">
                  </label>
                  <div class="row collapse">
                    <label>Price</label>
                    <div class="small-1 large-1 columns">
                      <span class="prefix">$</span>
                    </div>
                    <div class="small-11 large-11 columns">
                      <input type="text" placeholder="Enter the price">
                    </div>
                  </div>

                  <label>Condition
                    <select>
                      <option value="new">New</option>
                      <option value="like-new">Like New</option>
                      <option value="very-good">Very Good</option>
                      <option value="good">Good</option>
                      <option value="acceptable">Acceptable</option>
                    </select>
                  </label>
                </div>
              </div>
              <center>
                <a href="#" class="button small">Submit</a>
              </center>
            </form>
          </div>
          <div class="content" id="add-book-tab-2">
            <p class="small-header">
              We do not currently allow the addition of books not associated with a class according to our database. This is determined by what books are required as listed by Portal. However, you can submit the following form for review, and an administrator may add it for you. Thanks!
            </p>
            <form>

              <div class="row">
                <div class="large-12 columns">
                  <label>Course
                    <input type="text" placeholder="Enter the course this book is used in">
                  </label>
                  <label>ISBN
                    <input type="text" placeholder="Enter the ISBN of the book">
                  </label>
                  <div class="row collapse">
                    <label>Price</label>
                    <div class="small-1 large-1 columns">
                      <span class="prefix">$</span>
                    </div>
                    <div class="small-11 large-11 columns">
                      <input type="text" placeholder="Enter the price">
                    </div>
                  </div>

                  <label>Condition
                    <select>
                      <option value="new">New</option>
                      <option value="like-new">Like New</option>
                      <option value="very-good">Very Good</option>
                      <option value="good">Good</option>
                      <option value="acceptable">Acceptable</option>
                    </select>
                  </label>
                </div>
              </div>
              <center>
                <a href="#" class="button small">Submit</a>
              </center>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% if books_sold_by_you %}

    <ul class="book-list">
      {% for book in books_sold_by_you %}
      <li>
        <div class="row">
          <div class="medium-3 columns book-list-image">
            <img src="{{ book.img_url }}" alt="{{ book.title }}">
          </div>
          <div class="medium-9 columns book-list-info">
            <div class="book-heading">
              <a href="#" data-reveal-id="{{ book.listing_id }}">{{ book.title }} ({{ book.edition }}) by {{ book.author }}</a>
            </div>
            <div class="book-additional reveal-modal small" id="{{ book.listing_id }}" data-reveal>
              <a class="close-reveal-modal">&#215;</a>
              <p class="small-header">
                Currently editing:
              </p>
              <p>
                {{ book.title }} ({{ book.edition }}) by {{ book.author }}
                <br>ISBN: {{ book.isbn }}
                <br>Added: {{ book.added_date }}
              </p>
              <form>
                <div class="row">
                  <div class="large-12 columns">
                    <div class="row collapse">
                      <label>Price</label>
                      <div class="small-1 large-1 columns">
                        <span class="prefix">$</span>
                      </div>
                      <div class="small-11 large-11 columns">
                        <input type="text" value="{{ book.price }}">
                      </div>
                    </div>

                    <label>Condition
                      <select>
                        {% for c in condition %} {% if book.condition == c.value %}
                        <option value="{{c.value}}" selected>{{c.desc}}</option>
                        {% else %}
                        <option value="{{c.value}}">{{c.desc}}</option>
                        {% endif %} {% endfor %}
                      </select>
                    </label>
                  </div>
                </div>
                <center>
                  <a href="#" class="button small">Submit</a>
                  <a href="#" class="button small alert">Delete</a>
                </center>
              </form>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>You are currently not selling any books.</p>
    {% endif %}

  </div>
</div>
{% endblock %}