{% extends "base.html" %} 
{% block main_body %}
<div class="row">
  <div class="medium-8 columns add-padding">
    <h1>{{ user.name }}</h1>
    <h4>Email: {{ user.email_address }}</h4>
    <h4>Phone Number: {{ user.phone_number }}</h4>
  </div>
  <div class="medium-4 columns add-padding">
  {% if session.user_id == user.user_id %}
    <a href="#" data-reveal-id="edit-profile-modal">
      <i class="fi-page-edit right icon-edit-style"></i>
    </a>
    <div id="edit-profile-modal" class="reveal-modal small" data-reveal>
      <a class="close-reveal-modal">&#215;</a>
      <h2>Edit your profile:</h2>
      <form id="edit-profile-form" data-abide>
        <div class="name-field">
          <label>Name
            <input type="text" value="{{ user.name }}" name="name"
                required pattern="[a-zA-Z]+ [a-zA-Z]+">
          </label>
          <small class="error">Please just enter the first and last name.</small>
        </div>
        <div class="email-field">
          <label>Email
            <input type="email" value="{{ user.email_address }}"
                name="email">
          </label>
          <small class="error">Please enter a valid email.</small>
        </div>
        <div class="tel-field">
          <label>Phone Number
            <input type="tel" required pattern="\d{3}[\-]\d{3}[\-]\d{4}" 
                name="phone_number" value="{{ user.phone_number }}">
          </label>
          <small class="error">Please enter a valid phone number.</small>
        </div>
        <center>
            <input type="submit" class="button" value="Submit">
        </center>
      </form>
    </div>
    {% endif %}
  </div>
</div>
<div class="row add-padding">
  <div class="row listed-book-heading">
      <div class="medium-10 columns"><h3 class="sub-head">Books You're Selling</h3></div>
      <div class="medium-2 columns">
        <a href="#" data-reveal-id="add-book">
          <i class="fi-plus"></i>
        </a>
      </div>
  </div>
  
  <ul class="book-list">
    {% if user_selling %}

    <ul class="book-list">
      {% for book in user_selling %}
      <li>
        <div class="row">
          <div class="medium-3 columns book-list-image">
            <img src="{{ book.img_url }}" alt="{{ book.title }}">
          </div>
          <div class="medium-9 columns book-list-info">
            <div class="book-heading">
                <a href="#" data-reveal-id="edit-book-{{ book.listing_id }}">
                {% if book.edition != 'N/A' %}
                  {{ book.title }} ({{ book.edition }}) by {{ book.author }}
                {% else %}
                  {{ book.title }} by {{ book.author }}
                {% endif %}
                </a>
            </div>
            <div class="book-additional">
              ISBN: {{ book.book_isbn }}
              <br>Added: {{ book.created_at }}
              <br>Price: ${{ book.price }}
              <br>Condition: {{ book.book_condition }}
            </div>

            {# Begin production of book modal. #}
            <div class="book-additional reveal-modal small" id="edit-book-{{ book.listing_id }}" data-reveal>
              <a class="close-reveal-modal">&#215;</a>
              <p class="small-header">
                Currently editing:
              </p>
              <p>
                {{ book.title }} ({{ book.edition }}) by {{ book.author }}
                <br>ISBN: {{ book.isbn }}
                <br>Added: {{ book.added_date }}
              </p>
              <form>
                <div class="row">
                  <div class="large-12 columns">
                    <div class="row collapse">
                      <label>Price</label>
                      <div class="small-1 large-1 columns">
                        <span class="prefix">$</span>
                      </div>
                      <div class="small-11 large-11 columns">
                        <input type="text" value="{{ book.price }}">
                      </div>
                    </div>

                    <label>Condition
                      <select>
                        {% for c, v in condition.iteritems() %} {% if book.condition == c %}
                        <option value="{{ c }}" selected>{{v }}</option>
                        {% else %}
                        <option value="{{ c }}">{{ v }}</option>
                        {% endif %} {% endfor %}
                      </select>
                    </label>
                  </div>
                </div>
                <center>
                  <a href="#" class="button small">Submit</a>
                  <a href="#" class="button small alert">Delete</a>
                </center>
              </form>
            </div>
            {# End production of book modal. #}

          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>
      {{ user.name }} is currently not selling any books.
    </p>
    {% endif %}
  </ul>
</div>
<div class="row add-padding">
  <h3 class="sub-head">Your Wishlist</h3>
  <ul class="book-list">
    {% if wishlist_selling %}
    <ul class="book-list">
      {% for book in wishlist_selling %}
      <li>
        <div class="row">
          <div class="medium-3 columns book-list-image">
            <img src="{{ book.img_url }}" alt="{{ book.title }}">
          </div>
          <div class="medium-9 columns book-list-info">
            <div class="book-heading">
                {% if book.edition != 'N/A' %}
                  {{ book.title }} ({{ book.edition }}) by {{ book.author }}
                {% else %}
                  {{ book.title }} by {{ book.author }}
                {% endif %}
            </div>
            <div class="book-additional">
              ISBN: {{ book.book_isbn }}
              <br>Added: {{ book.created_at }}
              <br>Price: ${{ book.price }}
              <br>Condition: {{ book.book_condition }}
              <br>Sold By:
              <a href="/user/{{book.owner_id}}">{{ book.owner }}</a>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>
      {% if wishlist %} Nothing on your wishlist is currently being sold. {% else %} Your wishlist is currently empty. {% endif %}
    </p>
    {% endif %}
  </ul>
</div>

{# Begin code to add a book #}
<div class="reveal-modal medium" id="add-book" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <dl class="tabs" data-tab>
    <dd class="active">
      <a href="#add-book-tab-1">Add Book</a>
    </dd>
    <dd class="active">
      <a href="#add-book-tab-2">Book Not Found?</a>
    </dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="add-book-tab-1">
      <p class="small-header">
        Enter in the following information to add a book:
      </p>
      <form>

        <div class="row">
          <div class="large-12 columns">
            <label>Course
              <input type="text" placeholder="Enter the course this book is used in">
            </label>
            <label>ISBN
              <input type="text" placeholder="Enter the ISBN of the book">
            </label>
            <div class="row collapse">
              <label>Price</label>
              <div class="small-1 large-1 columns">
                <span class="prefix">$</span>
              </div>
              <div class="small-11 large-11 columns">
                <input type="text" placeholder="Enter the price">
              </div>
            </div>

            <label>Condition
              <select>
                <option value="new">New</option>
                <option value="like-new">Like New</option>
                <option value="very-good">Very Good</option>
                <option value="good">Good</option>
                <option value="acceptable">Acceptable</option>
              </select>
            </label>
          </div>
        </div>
        <center>
          <a href="#" class="button small">Submit</a>
        </center>
      </form>
    </div>
    <div class="content" id="add-book-tab-2">
      <p class="small-header">
        We do not currently allow the addition of books not associated with a class according to our database. This is determined by what books are required as listed by Portal. However, you can submit the following form for review, and an administrator may add it for you. Thanks!
      </p>
      <form>

        <div class="row">
          <div class="large-12 columns">
            <label>Course
              <input type="text" placeholder="Enter the course this book is used in">
            </label>
            <label>ISBN
              <input type="text" placeholder="Enter the ISBN of the book">
            </label>
            <div class="row collapse">
              <label>Price</label>
              <div class="small-1 large-1 columns">
                <span class="prefix">$</span>
              </div>
              <div class="small-11 large-11 columns">
                <input type="text" placeholder="Enter the price">
              </div>
            </div>

            <label>Condition
              <select>
                {% for c, v in condition.iteritems() %}
                <option value="{{ c }}">{{ v }}</option>
                {% endfor %}
              </select>
            </label>
          </div>
        </div>
        <center>
          <a href="#" class="button small">Submit</a>
        </center>
      </form>
    </div>
  </div>
</div>
{# End code to add a book #}



{% endblock %}
