{% extends "base.html" %} 
{# TODO: make this page different based on the currently signed in user. #} 
{% block main_body %}
<div class="row">
  <div class="medium-8 columns add-padding">
    <h1>{{ user.name }}</h1>
    <h4>Email: {{ user.email_address }}</h4>
    <h4>Phone Number: {{ user.phone_number }}</h4>
  </div>
  <div class="medium-4 columns add-padding">
  {% if session.user_id == user.user_id %}
    <a href="#" data-reveal-id="edit-profile-modal">
      <i class="fi-page-edit right icon-edit-style"></i>
    </a>
    <div id="edit-profile-modal" class="reveal-modal small" data-reveal>
      <a class="close-reveal-modal">&#215;</a>
      <h2>Edit your profile:</h2>
      <form id="edit-profile-form" data-abide>
        <div class="name-field">
          <label>Name
            <input type="text" value="{{ user.name }}" name="name"
                required pattern="[a-zA-Z]+ [a-zA-Z]+">
          </label>
          <small class="error">Please just enter the first and last name.</small>
        </div>
        <div class="email-field">
          <label>Email
            <input type="email" value="{{ user.email_address }}"
                name="email">
          </label>
          <small class="error">Please enter a valid email.</small>
        </div>
        <div class="tel-field">
          <label>Phone Number
            <input type="tel" required pattern="\d{3}[\-]\d{3}[\-]\d{4}" 
                name="phone_number" value="{{ user.phone_number }}">
          </label>
          <small class="error">Please enter a valid phone number.</small>
        </div>
        <center>
            <input type="submit" class="button" value="Submit">
        </center>
      </form>
    </div>
    {% endif %}
  </div>
</div>
<div class="row add-padding">
  <h3 class="sub-head">Books You're Selling</h3>
  <ul class="book-list">
    {% if user_selling %}

    <ul class="book-list">
      {% for book in user_selling %}
      <li>
        <div class="row">
          <div class="medium-3 columns book-list-image">
            <img src="{{ book.img_url }}" alt="{{ book.title }}">
          </div>
          <div class="medium-9 columns book-list-info">
            <div class="book-heading">
              {{ book.title }} ({{ book.edition }}) by {{ book.author }}
            </div>
            <div class="book-additional">
              ISBN: {{ book.book_isbn }}
              <br>Added: {{ book.created_at }}
              <br>Price: ${{ book.price }}
              <br>Condition: {{ book.book_condition }}
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>
      {{ user.name }} is currently not selling any books.
    </p>
    {% endif %}
  </ul>
</div>
<div class="row add-padding">
  <h3 class="sub-head">Your Wishlist</h3>
  <ul class="book-list">
    {% if wishlist_selling %}
    <ul class="book-list">
      {% for book in wishlist_selling %}
      <li>
        <div class="row">
          <div class="medium-3 columns book-list-image">
            <img src="{{ book.img_url }}" alt="{{ book.title }}">
          </div>
          <div class="medium-9 columns book-list-info">
            <div class="book-heading">
              {{ book.title }} ({{ book.edition }}) by {{ book.author }}
            </div>
            <div class="book-additional">
              ISBN: {{ book.book_isbn }}
              <br>Added: {{ book.created_at }}
              <br>Price: ${{ book.price }}
              <br>Condition: {{ book.book_condition }}
              <br>Sold By:
              <a href="/user/{{book.owner_id}}">{{ book.owner }}</a>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>
      {% if wishlist %} Nothing on your wishlist is currently being sold. {% else %} Your wishlist is currently empty. {% endif %}
    </p>
    {% endif %}
  </ul>
</div>
{% endblock %}
