<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="../static/foundation.css">
  <link rel="stylesheet" href="../static/foundation-icons/foundation-icons.css">
  <link rel="stylesheet" href="../static/custom.css">
  <title>5C Book Finder</title>
</head>

<body>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#">5C Book Finder</a>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="has-form">
          <div class="row collapse">
            <input type="text" placeholder="Find Stuff" class="searchbox">
          </div>
        </li>
        <li>
          <a href="#" class="custom-link">Jiexi Cao</a>
          <a href="#" class="custom-link">(Sign Out)</a>
        </li>
      </ul>
    </section>

  </nav>
  <section role="main" class="scroll-container main-body">
    <div class="row">
      <div class="medium-8 columns add-padding">
        <h3>Your Recently Listed Books</h3>
        <ul class="book-list">
          <li>
            <div class="row">
              <div class="medium-3 columns book-list-image">
                <img src="http://placehold.it/100x150" alt="Book cover image">
              </div>
              <div class="medium-9 columns book-list-info">
                <div class="book-heading">
                  Sample Book #1 (5th Edition) by Author One
                </div>
                <div class="book-additional">
                  ISBN: 00132131242
                  <br>Added: April 25, 2014
                  <br>Price: $50.99
                  <br>Condition: Like New
                  <br>Sold By:
                  <a href="#">Melissa Ho</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="medium-3 columns book-list-image">
                <img src="http://placehold.it/100x150" alt="Book cover image">
              </div>
              <div class="medium-9 columns book-list-info">
                <div class="book-heading">
                  Sample Book #1 (5th Edition) by Author One
                </div>
                <div class="book-additional">
                  ISBN: 00132131242
                  <br>Added: April 25, 2014
                  <br>Price: $50.99
                  <br>Condition: Like New
                  <br>Sold By:
                  <a href="#">Melissa Ho</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="medium-3 columns book-list-image">
                <img src="http://placehold.it/100x150" alt="Book cover image">
              </div>
              <div class="medium-9 columns book-list-info">
                <div class="book-heading">
                  Sample Book #1 (5th Edition) by Author One
                </div>
                <div class="book-additional">
                  ISBN: 00132131242
                  <br>Added: April 25, 2014
                  <br>Price: $50.99
                  <br>Condition: Like New
                  <br>Sold By:
                  <a href="#">Melissa Ho</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <hr>
        <h3>Your Wishlist</h3>
        <ul class="book-list">
          <li>
            <div class="row">
              <div class="medium-3 columns book-list-image">
                <img src="http://placehold.it/100x150" alt="Book cover image">
              </div>
              <div class="medium-9 columns book-list-info">
                <div class="book-heading">
                  Sample Book #1 (5th Edition) by Author One
                </div>
                <div class="book-additional">
                  ISBN: 00132131242
                  <br>Added: April 25, 2014
                  <br>Price: $50.99
                  <br>Condition: Like New
                  <br>Sold By:
                  <a href="#">Melissa Ho</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="medium-3 columns book-list-image">
                <img src="http://placehold.it/100x150" alt="Book cover image">
              </div>
              <div class="medium-9 columns book-list-info">
                <div class="book-heading">
                  Sample Book #1 (5th Edition) by Author One
                </div>
                <div class="book-additional">
                  ISBN: 00132131242
                  <br>Added: April 25, 2014
                  <br>Price: $50.99
                  <br>Condition: Like New
                  <br>Sold By:
                  <a href="#">Melissa Ho</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="medium-3 columns book-list-image">
                <img src="http://placehold.it/100x150" alt="Book cover image">
              </div>
              <div class="medium-9 columns book-list-info">
                <div class="book-heading">
                  Sample Book #1 (5th Edition) by Author One
                </div>
                <div class="book-additional">
                  ISBN: 00132131242
                  <br>Added: April 25, 2014
                  <br>Price: $50.99
                  <br>Condition: Like New
                  <br>Sold By:
                  <a href="#">Melissa Ho</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="medium-4 columns add-padding">
        <div class="row listed-book-heading">
          <div class="medium-10 columns">Your Listed Books</div>
          <div class="medium-2 columns">
            <a href="#" data-reveal-id="add-book">
              <i class="fi-plus"></i>
            </a>
          </div>
          <div class="reveal-modal medium" id="add-book" data-reveal>
            <a class="close-reveal-modal">&#215;</a>
            <dl class="tabs" data-tab>
              <dd class="active">
                <a href="#add-book-tab-1">Add Book</a>
              </dd>
              <dd class="active">
                <a href="#add-book-tab-2">Book Not Found?</a>
              </dd>
            </dl>
            <div class="tabs-content">
              <div class="content active" id="add-book-tab-1">
                <p class="small-header">
                  Enter in the following information to add a book:
                </p>
                <form>

                  <div class="row">
                    <div class="large-12 columns">
                      <label>Course
                        <input type="text" placeholder="Enter the course this book is used in">
                      </label>
                      <label>ISBN
                        <input type="text" placeholder="Enter the ISBN of the book">
                      </label>
                      <div class="row collapse">
                        <label>Price</label>
                        <div class="small-1 large-1 columns">
                          <span class="prefix">$</span>
                        </div>
                        <div class="small-11 large-11 columns">
                          <input type="text" placeholder="Enter the price">
                        </div>
                      </div>

                      <label>Condition
                        <select>
                          <option value="new">New</option>
                          <option value="like-new">Like New</option>
                          <option value="very-good">Very Good</option>
                          <option value="good">Good</option>
                          <option value="acceptable">Acceptable</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  <center>
                    <a href="#" class="button small">Submit</a>
                  </center>
                </form>
              </div>
              <div class="content" id="add-book-tab-2">
                <p class="small-header">
                  We do not currently allow the addition of books not associated with a class according to our database. This is determined by what books are required as listed by Portal. However, you can submit the following form for review, and an administrator may add it for you. Thanks!
                </p>
                <form>

                  <div class="row">
                    <div class="large-12 columns">
                      <label>Course
                        <input type="text" placeholder="Enter the course this book is used in">
                      </label>
                      <label>ISBN
                        <input type="text" placeholder="Enter the ISBN of the book">
                      </label>
                      <div class="row collapse">
                        <label>Price</label>
                        <div class="small-1 large-1 columns">
                          <span class="prefix">$</span>
                        </div>
                        <div class="small-11 large-11 columns">
                          <input type="text" placeholder="Enter the price">
                        </div>
                      </div>

                      <label>Condition
                        <select>
                          <option value="new">New</option>
                          <option value="like-new">Like New</option>
                          <option value="very-good">Very Good</option>
                          <option value="good">Good</option>
                          <option value="acceptable">Acceptable</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  <center>
                    <a href="#" class="button small">Submit</a>
                  </center>
                </form>
              </div>
            </div>
          </div>
        </div>
        <ul class="book-list">
          <li>
            <div class="row">
              <div class="medium-3 columns book-list-image">
                <img src="http://placehold.it/100x150" alt="Book cover image">
              </div>
              <div class="medium-9 columns book-list-info">
                <div class="book-heading">
                  <a href="#" data-reveal-id="book1info">Sample Book #1 (5th Edition) by Author One</a>
                </div>
                <div class="book-additional reveal-modal small" id="book1info" data-reveal>
                  <a class="close-reveal-modal">&#215;</a>
                  <p class="small-header">
                    Currently editing:
                  </p>
                  <p>
                    Sample Book #1 (5th Edition) by Author One
                    <br>ISBN: 00132131242
                    <br>Added: April 25, 2014
                  </p>
                  <form>
                    <div class="row">
                      <div class="large-12 columns">
                        <div class="row collapse">
                          <label>Price</label>
                          <div class="small-1 large-1 columns">
                            <span class="prefix">$</span>
                          </div>
                          <div class="small-11 large-11 columns">
                            <input type="text" value="50.99">
                          </div>
                        </div>

                        <label>Condition
                          <select>
                            <option value="new">New</option>
                            <option value="like-new">Like New</option>
                            <option value="very-good">Very Good</option>
                            <option value="good">Good</option>
                            <option value="acceptable">Acceptable</option>
                          </select>
                        </label>
                      </div>
                    </div>
                    <center>
                      <a href="#" class="button small">Submit</a>
                      <a href="#" class="button small alert">Delete</a>
                    </center>
                  </form>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="medium-3 columns book-list-image">
                <img src="http://placehold.it/100x150" alt="Book cover image">
              </div>
              <div class="medium-9 columns book-list-info">
                <div class="book-heading">
                  <a href="#" data-reveal-id="book2info">Sample Book #1 (5th Edition) by Author One</a>
                </div>
                <div class="book-additional reveal-modal small" id="book2info" data-reveal>
                  <a class="close-reveal-modal">&#215;</a>
                  <p class="small-header">
                    Currently editing:
                  </p>
                  <p>
                    Sample Book #1 (5th Edition) by Author One
                    <br>ISBN: 00132131242
                    <br>Added: April 25, 2014
                  </p>
                  <form>
                    <div class="row">
                      <div class="large-12 columns">
                        <div class="row collapse">
                          <label>Price</label>
                          <div class="small-1 large-1 columns">
                            <span class="prefix">$</span>
                          </div>
                          <div class="small-11 large-11 columns">
                            <input type="text" value="50.99">
                          </div>
                        </div>

                        <label>Condition
                          <select>
                            <option value="new">New</option>
                            <option value="like-new">Like New</option>
                            <option value="very-good">Very Good</option>
                            <option value="good">Good</option>
                            <option value="acceptable">Acceptable</option>
                          </select>
                        </label>
                      </div>
                    </div>
                    <center>
                      <a href="#" class="button small">Submit</a>
                      <a href="#" class="button small alert">Delete</a>
                    </center>
                  </form>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="medium-3 columns book-list-image">
                <img src="http://placehold.it/100x150" alt="Book cover image">
              </div>
              <div class="medium-9 columns book-list-info">
                <div class="book-heading">
                  <a href="#" data-reveal-id="book3info">Sample Book #1 (5th Edition) by Author One</a>
                </div>
                <div class="book-additional reveal-modal small" id="book3info" data-reveal>
                  <a class="close-reveal-modal">&#215;</a>
                  <p class="small-header">
                    Currently editing:
                  </p>
                  <p>
                    Sample Book #1 (5th Edition) by Author One
                    <br>ISBN: 00132131242
                    <br>Added: April 25, 2014
                  </p>
                  <form>
                    <div class="row">
                      <div class="large-12 columns">
                        <div class="row collapse">
                          <label>Price</label>
                          <div class="small-1 large-1 columns">
                            <span class="prefix">$</span>
                          </div>
                          <div class="small-11 large-11 columns">
                            <input type="text" value="50.99">
                          </div>
                        </div>

                        <label>Condition
                          <select>
                            <option value="new">New</option>
                            <option value="like-new">Like New</option>
                            <option value="very-good">Very Good</option>
                            <option value="good">Good</option>
                            <option value="acceptable">Acceptable</option>
                          </select>
                        </label>
                      </div>
                    </div>
                    <center>
                      <a href="#" class="button small">Submit</a>
                      <a href="#" class="button small alert">Delete</a>
                    </center>
                  </form>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </section>

  <footer>
    <div class="row">
      <div class="medium-8 columns">
        Made with &hearts; by
        <a href="#">Jiexi Cao</a> and
        <a href="#">Maury Quijada</a>.
      </div>
      <div class="medium-4 columns">
        More Text
      </div>
    </div>
  </footer>
  <script src="../js/vendor/jquery.js"></script>
  <script src="../js/foundation/foundation.js"></script>
  <script src="../js/foundation/foundation.reveal.js"></script>
  <script src="../js/foundation/foundation.tab.js"></script>
  <!-- Other JS plugins can be included here -->

  <script>
    $(document).foundation();
  </script>
</body>

</html>